
html{
  scroll-behavior: smooth;
}

@font-face {

  font-family: "Engcomica";
  src: url("../fonts/Engcomica.otf");
}

@font-face {
  font-family: 'comic';
  src: url("../fonts/Comic-Book-Bold.otf");

}

* {
  box-sizing: border-box;
  margin: 0;
 /* background-color: black;*/
  
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.App{
  margin: 0px auto;
  background-color: black;
}
